.App {
  display: flex;
  padding: 30px;
}

.App > div {
  
  margin-right: 50px;
}

li {
  display: flex;
}

.error {
  border: red 1px solid;
}
 
.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
}